$bg: #eef1f3;
$blue: #0674ec;
$grey: #333333;
$violet: #7347c1;
$text: #555555;

@mixin f400 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

@mixin f500 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

@mixin f700 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}